@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Post

<h2>Potwierdzenie usunięcia</h2>

<h3>Czy na pewno chcesz usunąć ten post?</h3>
<form asp-controller="Post" asp-action="Delete" method="post">
    <input asp-for="Id" />
    <button type="submit" class="btn btn-danger">Tak</button>
    <a class="btn btn-outline-info" asp-action="Index">Nie</a>
</form>
